html,
body {
  padding: 0;
  margin: 0;
  background: #f6f6f6;
  font-family: 'Inter', sans-serif;
  
}

.srcoll::-webkit-scrollbar{
  width: 4px;
}

.srcoll::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 20px;
}

.srcoll::-webkit-scrollbar-track {
  background: #e0dbdb;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,li,h1,h2,h3,h4,h5{
  padding: 0;
  margin: 0;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
}

.rowBorderStart {
  border: 1px solid #f1f1f2 !important;
  border-right: 0px !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.rowBorderMiddle {
  border: 1px solid #f1f1f2 !important;
  border-left: 0px !important;
  border-right: 0px !important;
}

.rowBorderEnd {
  border: 1px solid #f1f1f2 !important;
  border-left: 0px !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.Mui-selected{
  color: #01605a !important;
}